body
{
    background-color: #ac7bbd; 
}

.back-button {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.header .back-button:hover {
    text-decoration: underline;
}

.contact-form{
    width: 1000px;
    height: 520px;
    margin: 100px auto;
    box-shadow: rgba(60,64,67,0.3) 0px 1px 2px 0px,
    rgba(60,64,67,0.15) 0px 1px 3px 1px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.form-left, .form-right{
    width: 50%;
    height: 100%;
}

.form-left {
    text-align: center;

}
.form-left
{
    background-color: rgb(230, 206, 230);
    
}
.contact-icons{
    width: 250px;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-size: 30px;

}

.contact-icons i{
    margin:0px 15px;
}
.input-fields{
    width: 300px;
    margin: 15px auto;
}

.input-fields input{
    width: 280px;
    padding: 10px;
    border: 2px solid #123740;
    border-radius: 10px;
}



.input-fields textarea{
    width: 100%;
    height: 120px;
    border: 2px solid #123740;
    border-radius: 25px;
}

.input-sumbit{
    margin: auto;
    display: block;
    padding: 10px 15px;
    border-radius: 25px;
    background-color:white;
    color: #123740;
    border: 1px solid #123740;
    font-size: 17px;
    font-weight: bold;
}

.input-sumbit:hover{
    background-color: #123740;
    color: white;
}

.form-right{
    background-image: url("slike/kontakt.jpg");
    background-size: cover;
}

button {
    margin-left: 40%;
    background-color: #007bff; 
    color: #fff;
    padding: 10px 20px; 
    font-size: 16px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #0056b3; 
}

@media screen and (max-width: 360px) {
    .contact-form {
        width: 100%; 
        height: auto; 
        flex-direction: column; 
        box-shadow: none; 
        margin: 55px 0px;
    }

    .form-left {
        width: 107%; 
        padding: 10px; 
    }

    .form-left  {
        font-size: 20px; 
    }

    .contact-icons {
        font-size: 20px; 
        padding: 10px;
        width: auto; 
    }

    .contact-icons i {
        margin: 0 10px; 
    }

    .input-fields {
        width: 80%; 
    }

    .input-fields input,
    .input-fields textarea {
        width: 100%; 
        font-size: 14px; 
        padding: 8px; 
    }

    .input-sumbit {
        width: 35%; 
        font-size: 16px;
        padding: 10px; 
    }
}

