body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.header {
    background-color: #759f7e;
    padding: 20px;
    text-align: center;
}

.header  {
    color: white;
    margin: 0;
}

.header .back-button {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.header .back-button:hover {
    text-decoration: underline;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.image-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.image-container img {
    width: 300px;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
}

.text {
    max-width: 800px;
    text-align: center;
    margin: 20px 0;
}

.text  {
    font-size: 28px;
    margin-bottom: 10px;
}

.text p {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.footer {
    background-color: #759f7e;
    padding: 20px;
    text-align: center;
}

.footer .kontakt {
    background-color: #FCBE11;
    padding: 5px 10px;
    font-size: 15px;
    color: black;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s ease;
}

.footer .kontakt:hover {
    background-color: #9cdfaa;
    padding: 15px 20px;
    font-size: 17px;
}

@media screen and (max-width: 360px) {
    .header {
        padding: 10px;
    }

    .header  {
        font-size: 24px; 
    }

    .content {
        padding: 10px;
    }

    .image-container {
        flex-direction: column; 
        align-items: center;
    }

    .image-container img {
        width: 100%; 
        height: auto; 
        margin: 10px 0;
    }

    .text  {
        font-size: 22px;
    }

    .text p {
        font-size: 16px; /
    }

    .footer {
        padding: 10px;
    }

    .footer .kontakt {
        font-size: 14px; 
    }
}

